{{ note.cfg }}
{% if is_proxy %}
Acquire::http::Proxy "http://{{ proxy.through.host }}:{{ proxy.through.port }}";
Acquire::https::Proxy "http://{{ proxy.through.host }}:{{ proxy.through.port }}";
{% endif %}

