{{ note.cfg }}
{% if is_proxy %}
Username    {{ primary_user.id }}
Domain      {{ ntlm_domain }}
PassNTLMv2  {{ ntlm_hash }}

{% for p in proxy.hosts %}
Proxy       {{ p.host }}:{{ p.port }}
{% endfor %}
NoProxy     {% for np in proxy.no_proxy + proxy.no_proxy_extras -%}{{ np }}{% if not loop.last %}, {% endif %}{% endfor %}

Gateway     yes
Listen      {{ proxy.through.port }}
{% endif %}

