{{ note.cfg }}

tailc() {
  # Standard tail but with colour for "log level/severity"
  tail ${@} | \
    sed --unbuffered \
      -e 's/\(.*ERROR.*\)/\o033[31m\1\o033[39m/' \
      -e 's/\(.*WARN.*\)/\o033[33m\1\o033[39m/'  \
      -e 's/\(.*INFO.*\)/\o033[32m\1\o033[39m/'
}

stopwatchstart() {
  stopwatchstart=$(date +%s%3N)
  stopwatchstop=0
}

stopwatchstop() {
  stopwatchstop=$(date +%s%3N)
  if [[ -n "${stopwatchstart}" ]]; then
    stopwatchdiff_ms=$(( stopwatchstop - stopwatchstart ))
    stopwatchdiff_s=$(( stopwatchdiff_ms / 1000 ))
    echo "Took ${stopwatchdiff_ms}ms / ${stopwatchdiff_s}s"
  else
  # Incase we forgot to start the stopwatch
    echo "You didn't start the stopwatch..."
  fi
# Reset incase we want multiple timings
  stopwatchstart=${stopwatchstop}
}

gitremoveoldbranches() {
  git fetch
  git prune origin
  for branch in $(git branch -v | awk '{print $1" "$3}' | grep "\[gone\]" | awk '{print $1}'); do
    git branch -D ${branch}
  done
}
