{{ note.cfg }}
alias ll='ls -AlF'
alias la='ls -A'
alias l='ls -CF'
alias diff='diff -u'

alias docker.clean='docker system prune -f'
{% raw %}alias docker.ps='docker ps  --format "table | {{.Image}}\t| {{.ID}}\t| {{.Names}}\t| {{.Status}}\t| {{.Ports}}\t|" -a'
{% endraw %}

alias xclip="xclip -selection clipboard"

