param( $source )

######################################################

$Shell = New-Object -ComObject Shell.Application
$SystemFontsFolder = $Shell.Namespace(0x14)
$SystemFontsPath   = $SystemFontsFolder.Self.Path

######################################################

$FontFile   = Get-Item $source
$targetPath = Join-Path $SystemFontsPath $FontFile.name

######################################################

if (Test-Path $targetPath) {
  Write-Host Font $targetPath already exists
} else {
  Write-Host Creating $targetPath
  $SystemFontsFolder.CopyHere($FontFile.fullname)
}

######################################################

