{{ note.cfg }}
[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec={{ postman.home }}/app/Postman %U
Icon={{ postman.home }}/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
