# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/{{ item.name }}/"
{% if item.has_saves %}

{% if item.name == retropie_fba.name %}
savefile_directory  = "{{ retropie_home }}/saves/"
{% else %}
savefile_directory  = "{{ retropie_home }}/saves/{{ item.name }}/"
{% endif%}
savestate_directory = "{{ retropie_home }}/states/{{ item.name }}/"
{% endif %}
{% if item.name == retropie_psx.name %}
video_smooth        = "{{ retropie_psx.video_smoothing | lower }}"'
{% endif %}


#include "/opt/retropie/configs/all/retroarch.cfg"
