{
{% if not is_gui %}
    "mode": "flat",
{% endif %}
    "theme": "default",
    "segments": [
        "ssh",
        "username",
        "cwd",
        "git",
        "git_stash"
    ],
    "cwd": {
        "mode": "plain"
    }
}

