{{ note.cfg }}
alias ll='ls -AlF'
alias la='ls -A'
alias l='ls -CF'
alias diff='diff -u'

{% raw %}
alias docker.clean='docker system prune -f'
alias docker.ps='docker ps  --format "table | {{.Image}}\t| {{.ID}}\t| {{.Names}}\t| {{.Status}}\t| {{.Ports}}\t|"'
{% endraw %}
alias json=func_json_pretty
alias xclip="xclip -selection clipboard"

