{{ note.cfg }}
alias ll='ls -AlF'
alias la='ls -A'
alias l='ls -CF'
alias diff='diff -u'

alias docker.clean='docker system prune -f'

alias json=func_json_pretty
alias xclip="xclip -selection clipboard"

