{{ note.cfg }}

tailc() {
  # Standard tail but with colour for "log level/severity"
  tail ${@} | \
    sed --unbuffered \
      -e 's/\(.*ERROR.*\)/\o033[31m\1\o033[39m/' \
      -e 's/\(.*WARN.*\)/\o033[33m\1\o033[39m/'  \
      -e 's/\(.*INFO.*\)/\o033[32m\1\o033[39m/'
}

