{
{% if is_proxy %}
    "proxies": {
        "default": {
            "httpProxy": "http://{{ proxy.through.host }}:{{ proxy.through.port }}",
            "httpsProxy": "http://{{ proxy.through.host }}:{{ proxy.through.port }}",
            "noProxy": "{% for np in proxy.no_proxy + proxy.no_proxy_extras -%}{{ np }}{% if not loop.last %},{% endif %}{% endfor %}"
        }
    }
{% endif %}
}

