{{ note.cfg }}
[Service]
{% if is_proxy %}
Environment="HTTP_PROXY=http://{{ proxy.through.host }}:{{ proxy.through.port }}"
Environment="HTTPS_PROXY=http://{{ proxy.through.host }}:{{ proxy.through.port }}"
{% endif %}

